<style type="text/css">
	.middle {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.card {
		cursor: pointer;
		width: 10%;
		height: 10%;
	}

	.front, .back {
		margin-left: -4px;
		width: 24.2%;
		height: 64%;
		overflow: hidden;
		backface-visibility: hidden;
		position: absolute;
		transition: transform .6s linear;

	}
	.front img {
		height: 100%;
	}
	.front {
		transform: perspective(600px) rotateY(0deg);
	}
	.back {
		background: #f1f1f1;
		transform: perspective(600px) rotateY(180deg);
	}
	.back-content {
		color: black;
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 0;

	}
	.card:hover > .front {
		transform: perspective(600px) rotateY(-180deg);
	}
	.card:hover > .back {
		transform: perspective(600px) rotateY(0deg);
	}
</style>